---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?author=Amateur%20Swimming%20Association.&subject=swimming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.094 TT 0 0.097"'
    body:
      encoding: UTF-8
      string: |-
        {
         "start": 0,
         "num_found": 15,
         "numFound": 15,
         "docs": [
          {
           "title_suggest": "Swimming instruction",
           "edition_key": [
            "OL14350550M",
            "OL14350553M",
            "OL18753541M",
            "OL6243357M",
            "OL18735054M",
            "OL20238570M"
           ],
           "has_fulltext": false,
           "text": [
            "OL14350550M",
            "OL14350553M",
            "OL18753541M",
            "OL6243357M",
            "OL18735054M",
            "OL20238570M",
            "Amateur Swimming Association.",
            "1626337",
            "OL1992839A",
            "Swimming",
            "land drills and water practice for class teaching ofthe breast, back, crawl and back crawl strokes, with hints on diving.",
            "designed for the guidance of teachers of swimming, with special reference to class management and the methods of teaching the main strokes and elementary diving.",
            "designed for the guidance of teachers of swimming",
            "Swimming instruction",
            "/works/OL7075391W",
            "with special reference to class management and the methods of teaching the main strokes and elementary diving. Rewritten 1957.",
            "Simpkin Marshall Ltd.",
            "Educational Productions",
            "Educational Productions; [stamped: distributed by Sportshelf, New York",
            "Swimming instruction.",
            "58003027"
           ],
           "author_name": [
            "Amateur Swimming Association."
           ],
           "seed": [
            "/books/OL14350550M",
            "/books/OL14350553M",
            "/books/OL18753541M",
            "/books/OL6243357M",
            "/books/OL18735054M",
            "/books/OL20238570M",
            "/works/OL7075391W",
            "/subjects/swimming",
            "/authors/OL1992839A"
           ],
           "oclc": [
            "1626337"
           ],
           "author_key": [
            "OL1992839A"
           ],
           "subject": [
            "Swimming"
           ],
           "title": "Swimming instruction",
           "ddc": [
            "797.21",
            "797.2"
           ],
           "publish_date": [
            "1949",
            "1961",
            "1963",
            "1937",
            "1953",
            "1958"
           ],
           "type": "work",
           "ebook_count_i": 0,
           "publish_place": [
            "London",
            "Wakefield"
           ],
           "edition_count": 6,
           "lcc": [
            "GV-0837.00000000.A47 1957"
           ],
           "key": "/works/OL7075391W",
           "publisher": [
            "Simpkin Marshall Ltd.",
            "Educational Productions",
            "Educational Productions; [stamped: distributed by Sportshelf, New York"
           ],
           "language": [
            "eng"
           ],
           "lccn": [
            "58003027"
           ],
           "last_modified_i": 1291609308,
           "publish_year": [
            1949,
            1961,
            1963,
            1937,
            1953,
            1958
           ],
           "first_publish_year": 1937
          },
          {
           "title_suggest": "Guide to Better Swimming",
           "edition_key": [
            "OL10489017M",
            "OL22312964M"
           ],
           "isbn": [
            "9780330297257",
            "0330297252"
           ],
           "has_fulltext": false,
           "text": [
            "OL10489017M",
            "OL22312964M",
            "9780330297257",
            "0330297252",
            "Amateur Swimming Association.",
            "21033765",
            "Cross, Rick.",
            "Amateur Swimming Association.",
            "OL1992839A",
            "Swimming",
            "Guide to Better Swimming",
            "/works/OL7075352W",
            "edited by Rick Cross ; photographs byMichael King.",
            "Pan Books",
            "Pan",
            "The ASA guide to better swimming"
           ],
           "author_name": [
            "Amateur Swimming Association."
           ],
           "seed": [
            "/books/OL10489017M",
            "/books/OL22312964M",
            "/works/OL7075352W",
            "/subjects/swimming",
            "/authors/OL1992839A"
           ],
           "oclc": [
            "21033765"
           ],
           "contributor": [
            "Cross, Rick.",
            "Amateur Swimming Association."
           ],
           "author_key": [
            "OL1992839A"
           ],
           "subject": [
            "Swimming"
           ],
           "title": "Guide to Better Swimming",
           "ddc": [
            "797.21"
           ],
           "publish_date": [
            "1987",
            "August 7, 1987"
           ],
           "type": "work",
           "ebook_count_i": 0,
           "publish_place": [
 [...]
