---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?author=&page=2&subject=swimming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.241 TT 0 0.260"'
    body:
      encoding: UTF-8
      string: |-
        {
         "start": 100,
         "num_found": 2187,
         "numFound": 2187,
         "docs": [
          {
           "title_suggest": "How to swim crawl",
           "publish_place": [
            "London"
           ],
           "has_fulltext": false,
           "language": [
            "eng"
           ],
           "edition_count": 1,
           "edition_key": [
            "OL15219620M"
           ],
           "last_modified_i": 1263890588,
           "title": "How to swim crawl",
           "subject": [
            "Swimming"
           ],
           "author_name": [
            "Sidney George Hedges"
           ],
           "publish_year": [
            1934
           ],
           "first_publish_year": 1934,
           "key": "/works/OL11067304W",
           "text": [
            "OL15219620M",
            "Sidney George Hedges",
            "OL4616162A",
            "Swimming",
            "How to swim crawl",
            "/works/OL11067304W",
            "with 12 diagrams by Dorothy Franks.",
            "Methuen"
           ],
           "publisher": [
            "Methuen"
           ],
           "publish_date": [
            "1934"
           ],
           "author_key": [
            "OL4616162A"
           ],
           "type": "work",
           "seed": [
            "/books/OL15219620M",
            "/works/OL11067304W",
            "/subjects/swimming",
            "/authors/OL4616162A"
           ],
           "ebook_count_i": 0
          },
          {
           "title_suggest": "The book of swimming and diving",
           "publish_place": [
            "London"
           ],
           "has_fulltext": false,
           "language": [
            "eng"
           ],
           "edition_count": 1,
           "edition_key": [
            "OL15219606M"
           ],
           "last_modified_i": 1263890588,
           "title": "The book of swimming and diving",
           "subject": [
            "Swimming"
          [...]
