---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?author=&subject=swimming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.657 TT 0 0.688"'
    body:
      encoding: UTF-8
      string: |-
        {
         "start": 0,
         "num_found": 2186,
         "numFound": 2186,
         "docs": [
          {
           "title_suggest": "Swimming instruction",
           "edition_key": [
            "OL14350550M",
            "OL14350553M",
            "OL18753541M",
            "OL6243357M",
            "OL18735054M",
            "OL20238570M"
           ],
           "has_fulltext": false,
           "text": [
            "OL14350550M",
            "OL14350553M",
            "OL18753541M",
            "OL6243357M",
            "OL18735054M",
            "OL20238570M",
            "Amateur Swimming Association.",
            "1626337",
            "OL1992839A",
            "Swimming",
            "land drills and water practice for class teaching ofthe breast, back, crawl and back crawl strokes, with hints on diving.",
            "designed for the guidance of teachers of swimming, with special reference to class management and the methods of teaching the main strokes and elementary diving.",
            "designed for the guidance of teachers of swimming",
            "Swimming instruction",
            "/works/OL7075391W",
            "with special reference to class management and the methods of teaching the main strokes and elementary diving. Rewritten 1957.",
            "Simpkin Marshall Ltd.",
            "Educational Productions",
            "Educational Productions; [stamped: distributed by Sportshelf, New York",
            "Swimming instruction.",
            "58003027"
           ],
           "author_name": [
            "Amateur Swimming Association."
           ],
           "seed": [
            "/books/OL14350550M",
            "/books/OL14350553M",
            "/books/OL18753541M",
            "/books/OL6243357M",
            "/books/OL18735054M",
            "/books/OL20238570M",
            "/works/OL7075391W",
            "/subjects/swimming",
            "/authors/OL1992839A"
           ],
           "oclc": [
            "1626337"
           ],
           "author_key": [
            "OL1992839A"
           ],
           "subject": [
            "Swimming"
           ],
           "title": "Swimming instruction",
           "ddc": [
            "797.21",
            "797.2"
           ],
           "publish_date": [
            "1949",
            "1961",
            "1963",
            "1937",
            "1953",
            "1958"
           ],
           "type": "work",
           "ebook_count_i": 0,
           "publish_place": [
            "London",
            "Wakefield"
           ],
           "edition_count": 6,
           "lcc": [
            "GV-0837.00000000.A47 1957"
           ],
           "key": "/works/OL7075391W",
           "publisher": [
            "Simpkin Marshall Ltd.",
            "Educational Productions",
            "Educational Productions; [stamped: distributed by Sportshelf, New York"
           ],
           "language": [
            "eng"
           ],
           "lccn": [
            "58003027"
           ],
           "last_modified_i": 1291609308,
           "publish_year": [
            1949,
            1961,
            1963,
            1937,
            1953,
            1958
           ],
           "first_publish_year": 1937
          },
          {
           "title_suggest": "The complete book of dry-land exercises for swimming",
           "edition_key": [
            "OL15185838M",
            "OL20142498M",
            "OL20274863M",
            "OL22804583M"
           ],
           "isbn": [
            "0720701201",
            "9780720701203"
           ],
           "has_fulltext": false,
           "text": [
            "OL15185838M",
            "OL20142498M",
            "OL20274863M",
            "OL22804583M",
            "0720701201",
            "9780720701203",
            "Buck Dawson",
            "301402095",
            "OL397880A",
            "Swimming",
            "The complete book of dry-land exercises for swimming",
            "/works/OL2718684W",
         [...]
